.main__board {
    padding: 0 2rem;

    h1 {
        margin-bottom: 1rem;
    }
}

main {
    // background-color: $color-black-variant;

    input {
        background: transparent;
        padding: 0.5rem;
        box-shadow: 0 0 0.8rem $box-shadow;
        cursor: pointer;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 1rem 0;

        .card {
            background-color: $color-white;
            border-radius: $card-b-radius;
            padding: 0.8rem;
            box-shadow: 0 0 0.8rem $box-shadow;
            display: flex;
            justify-content: space-between;
            // align-items: center;
            flex-direction: column;

            .material-icons-sharp {
                width: 2.5rem;
                height: 2.5rem;
                background-color: rgb(155, 93, 155);
                color: $color-white;
                border-radius: 50%;
                display: grid;
                place-content: center;

            }

            &:nth-child(2) .material-icons-sharp {
                background-color: coral;

            }

            &:nth-child(3) .material-icons-sharp {
                background-color: rgb(181, 216, 27);

            }


            .card__middle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                // .middle__left {
                //     background-color: red;

                // }



                .progress {
                    width: 90px;
                    height: 90px;
                    position: relative;
                    // background-color: red;
                    padding: 1rem;
                    border-radius: 50%;

                    svg {
                        width: 6rem;
                        height: 6rem;
                        // position: relative;

                        circle {
                            width: 100%;
                            height: 100%;
                            fill: none;
                            stroke-dasharray: 115;
                            stroke-width: 8px;
                            stroke-dashoffset: 90;
                            stroke-linecap: round;
                            // background-color: aqua;
                            stroke: $color-border-variant;
                            transform: translate(5px, 5px);
                        }


                    }

                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;


                    }

                }

                small {
                    color: $color-light;
                }

                // &:nth-child(2) .card__middle circle {
                //     stroke-dasharray: 80;
                //     stroke-dashoffset: 20;
                //     stroke: red;
                // }

                // &:nth-child(3) circle {
                //     stroke-dasharray: 110;
                //     stroke-dashoffset: 35;
                // }

            }


        }



    }

    .order__table {
        h2 {
            margin: 2rem 0 1.5rem;
        }

        .table {

            table {
                background: $color-white;
                padding: 0.5rem;
                border-radius: $card-b-radius;

                text-align: center;
                width: 100%;

                thead {
                    th {
                        height: 2.2rem;
                        border-bottom: 1px solid rgb(223, 223, 223);
                    }
                }

                tbody {
                    td {
                        height: 2rem;
                        border-bottom: 1px solid rgb(223, 223, 223);
                    }

                    tr:last-child td {
                        border: 0;
                    }
                }
            }



            a {
                margin-top: 1.5rem;
            }

        }





    }



}



@media screen and (max-width: 64em) {

    .main__board {
        padding: 4.5rem 0.5rem 1rem;


        main {

            .cards {

                grid-template-columns: 1fr;
            }


            .order__table {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 5rem;
            }
        }
    }
}

// /*========= Media Query For Small Devices ===========*/

@media screen and (max-width: 34em) {
    .main__board {

        main {

            .order__table {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 5rem;
                display: none;
            }

        }
    }
}